/* CSS Styles

.box {
  border: 2px solid black;
}

 .board {
  display: flex;
  width: 50vh;
  height: auto;
  flex-wrap: wrap;
  margin: 50px auto;
}
.space {
  flex-grow: 1px;
  height: 100px;
  width: 25%;
}
.space:hover{
  cursor: pointer;
}

#one, #two, #three {
  border-bottom: 1px solid black;
}
#one, #four, #seven {
  border-right: 1px solid black;
}
#three, #six, #nine {
  border-left: 1px solid black;
}
#seven, #eight, #nine {
  border-top: 1px solid black;
}

/* BUTTONS */

/* .new-game-btn {
  padding: 15px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: red;
  border: 1px solid black;
}

.logout-btn {
  padding: 15px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: red;
  border: 1px solid black;
} */
